In [17]:
# Pandas Profiling (ydata-profiling) automatically generates a detailed
# Exploratory Data Analysis (EDA) report for a pandas DataFrame.
# It shows dataset overview, column-wise statistics, missing values,
# distributions, correlations, and data quality warnings.
# This helps quickly understand and clean data before ML modeling.

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('Titanic-Dataset.csv')

In [20]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
# Import ProfileReport class from ydata_profiling for automatic EDA
from ydata_profiling import ProfileReport

# Create a profiling report for the DataFrame `df`
# title="EDA Report" sets the report title
# explorative=True enables advanced analysis and embeds all JS/CSS
# so that the saved HTML remains fully interactive (tabs, alerts, plots)
profile = ProfileReport(
    df,
    title="EDA Report",
    explorative=True
)

# Save the profiling report as a self-contained interactive HTML file
# which can be opened in any web browser
profile.to_file("eda_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|                                                                                           | 0/12 [00:00<?, ?it/s]
100%|█████████████████████████████████████████████████████████████████████████████████| 12/12 [00:00<00:00, 112.16it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]